.parent {
    display: grid;
    grid-template-columns: 1fr 2fr repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr) 3fr repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 2 / 2 / 4 / 3; }
    .div2 { grid-area: 2 / 3 / 3 / 4; }
    .div3 { grid-area: 2 / 4 / 3 / 5; }
    .div4 { grid-area: 5 / 2 / 6 / 5; }
    .div5 { grid-area: 1 / 1 / 2 / 6; }